.DS_store
.ipynb_checkpoints/*
processed_data/*
processed_data/*csv.gz
processed_data/*csv
*csv
*csv.gz
*png
*jpeg
*jpg
OneDriveUpload.py
generateOneDriveAPIConsentURL-public.py
*pdf
ana.sh
test.py
trial.py
setup.py
gui_ana.py
secrets.py
front_end.py
test_HistoMaker2D.py
